.centered-button2 {
    display: inline-block;
    padding: 12px 24px;
    margin-right: 0px;
    margin-left: 380px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #007bff;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .centered-button2:hover {
    background-color: #003fb3;
    border-color: #0039b3;
  }
  
  .centered-button2:disabled {
    background-color: #ccc;
    color: #999;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Adjust button size on smaller screens */
  @media (max-width: 768px) {
    .centered-button2 {
      margin-left: 0;
    }
  }
  