.navbar {
    background-color: #021426; 
    color: #fff;
    padding: 15px 22px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar-header {
    display: flex;
    align-items: center;
  }
  
  .navbar-header i {
    margin-right: 10px;
  }
  
  .navbar-title {
    font-size: 1.5rem;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s; 
    border-bottom: 2px solid transparent; 
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu li.active {
    color: #2980b9;
    border-radius: 5px; 
  }
  
  .navbar-menu li i {
    margin-right: 5px;
  }
  
  
  .navbar-menu li:hover {
    border-bottom: 2px solid #3498db;
    color: #2980b9; 
  }
  

  .navbar-menu li:hover i {
    transform: scale(1.1); 
  }
 
/*Job_Home css*/
/* job.css */
.container1 {
  margin: 5rem 8rem;
}
.sp{
    color: #007bff;
}
.title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 0.8rem;
}

.description {
  font-size: 1.2rem;
  color: #666;
}

.search-form {
  margin-top: 2rem;
}

.search-container {
  position: relative;
}

.search-input {
  padding: 0.8rem;
  padding-right: 3rem;
  width: 50%;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 30px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}

.search-icon-left{
    left: 10px;
}
.search-icon-right{
    right: 48%;
}
.search-input-location{
    width: 440px;
}

.submitbtn {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 13px 2rem; 
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitbtn:hover {
    background-color: #0056b3; 
  }
  
  .maindiv {
    background-color: #fafafa;
    display: grid;
    grid-template-columns: auto 1fr auto; 
    gap: 3%; 
    margin-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
  }
  
  .left {
  width: 320px;

  }
   .right {
    width: 300px;
  }
  
  .card10 {
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
  }
  .logo{
    width: 100px;
    height: auto;
  }

  .sidebar-label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  .all {
    background: linear-gradient(blue, crimson);
  }
  
  .sidebar-label-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .sidebar-label-container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .sidebar-label-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .sidebar-label-container .checkmark:after {
    top: 6.4px;
    left: 6.4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
  }
  
  .line {
    margin-top: 3rem;
    border-color: #f7f7f7;
  }  

  .btn:hover {
    text-decoration: underline;
  }
  .custom-btn {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .custom-btn:hover {
    color: white;
    background-color: #007bff;
  }
 

  /*blog*/

  .maindiv1{
    background-color: #cccfd1;
    height: 170px;
  }
  .parent_label {
    margin-top: 20px;
    margin-left: 550px;
    font-size: 30px;
    font-weight: 700;
  }
  
  .cardd {
    width: 1000px;
    margin: 40px auto;
  }
  .card-bodyy {
    margin-left: 270px;
  }
  .cardd-header{
    padding: 10px;
    background-color: #449af6;
    border-radius: 10px;
  }
  
  .centered-buttonn {
    margin-right: 80px;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  .centered-buttonn:hover {
    color: #0056b3; 
    text-decoration: underline; 
  }
  
  /*vacancies*/
  .apply-button{
    margin-top: 10px;
    width: 30%;
    height: 45px;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: rgba(250, 250, 250, 0.864);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 28px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s,color 0.3s, border-color 0.3s,text-shadow 0.3s;
  }
  .apply-button:hover{
    background-color: #1926e7; 
    transform: scale(1.05) ;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    color: #000000; 
    border-color: #45a049;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* visit request */

.cardd1 {
  width: 700px;
  margin: 10px auto;
  background-color: gainsboro;
  border-radius: 10px;
}

.cardd1-img-top {
  width: 100%;
  height: auto;
}

.cardd1-body1 {
  padding: 20px;
}

.cardd1-title1 {
  font-size: 20px;
}

.list-group-item {
  padding: 10px;
  list-style: none;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-green {
  background-color: green;
}

.button-red {
  background-color: red;
}

.button:hover {
  background-color: #555; 
}

.input-div2 {
  display: flex;
  align-items: center;
}

.input-bx {
  margin-left: 10px;
}

.fa {
  margin-right: 10px;
}

.lead {
  font-size: 18px;
}

.mb-5 {
  margin-bottom: 5px;
}

.p-4 {
  background-color: #f8f9fa;
}

.font-italic {
  font-style: italic;
}

.input-div2 h5 {
  margin-top: 10px;
}

.row.g-2 img {
  height: 200px;
  margin: 10px;
}

.centeredd-button {
  margin-left: 260px;
  margin-top: 10px;
  padding: 10px 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.centeredd-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.centeredd-button:hover {
  background-color: #0056b3;
}
.inputt-bx {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.inputt-bx input {
  flex: 1;
  border: none;
  padding: 8px;
  margin-left: 10px;
  border-radius: 5px;
  outline: none;
}

.inputt-bx input:focus {
  border: 1px solid #007bff;
}

h5 {
  font-size: 18px;
  margin-top: 12px;
  color: #333;
}

/*Company Response*/

.interview-container {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.interview-container:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.interview-content {
  padding: 20px;
}

.label-style {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.description-style {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.about-container {
  margin-top: 20px;
}

.about-container p {
  font-size: 16px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
  color: #333;
}



/*Profile*/
/* ResumeTemplete.css */

.resume-main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.resume-main:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.left-box {
  width: 50%;
  padding-right: 10%;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.content-box h2,
.content-box h3 {
  margin-bottom: 10px;
  color: #333;
}

.p1 {
  font-size: 16px;
  color: #555;
}

.right-box {
  width: 60%;
}

.right-box h1 {
  color: #333;
}

.p3 {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.heading {
  color: #333;
  margin-bottom: 10px;
}

.hr1,
.hr2 {
  border: 1px solid #ccc;
  margin: 10px 0;
}
.p3{
  font-weight: 600;
}

.p5,
.span1 {
  font-size: 18px;
  color: #555;
  font-weight: 500;
}

.col-div-4,
.col-div-8 {
  display: inline-block;
  width: 40%;
  margin-bottom: 10px;
}

.col3 {
  display: inline-block;
  width: 30%;
  margin-bottom: 20px;
}

.centeredd-button {
  padding: 14px 50px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.centeredd-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}


h3{
  font-size: 22px;
}
.dark{
  font-weight: 500;
}