.navbar {
    background-color: #021426; 
    color: #fff;
    padding: 15px 22px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar-header {
    display: flex;
    align-items: center;
  }
  
  .navbar-header i {
    margin-right: 10px;
  }
  
  .navbar-title {
    font-size: 1.5rem;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s; 
    border-bottom: 2px solid transparent; 
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu li.active {
    color: #2980b9;
    border-radius: 5px; 
  }
  
  .navbar-menu li i {
    margin-right: 5px;
  }
  
  
  .navbar-menu li:hover {
    border-bottom: 2px solid #3498db;
    color: #2980b9; 
  }
  

  .navbar-menu li:hover i {
    transform: scale(1.1); 
  }
 
/*Job_Home css*/
/* job.css */
.container1 {
  margin: 5rem 8rem;
}
.sp{
    color: #007bff;
}
.title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 0.8rem;
}

.description {
  font-size: 1.2rem;
  color: #666;
}

.search-form {
  margin-top: 2rem;
}

.search-container {
  position: relative;
}

.search-input {
  padding: 0.8rem;
  padding-right: 3rem;
  width: 50%;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 30px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}

.search-icon-left{
    left: 10px;
}
.search-icon-right{
    right: 48%;
}
.search-input-location{
    width: 440px;
}

.submitbtn {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 13px 2rem; 
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitbtn:hover {
    background-color: #0056b3; 
  }
  
  .maindiv {
    background-color: #fafafa;
    display: grid;
    grid-template-columns: auto 1fr auto; 
    gap: 3%; 
    margin-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
  }
  
  .left {
  width: 320px;

  }
   .right {
    width: 300px;
  }
  
  .card10 {
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
  }
  .logo{
    width: 100px;
    height: auto;
  }

  .sidebar-label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  .all {
    background: linear-gradient(blue, crimson);
  }
  
  .sidebar-label-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .sidebar-label-container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .sidebar-label-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .sidebar-label-container .checkmark:after {
    top: 6.4px;
    left: 6.4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
  }
  
  .line {
    margin-top: 3rem;
    border-color: #f7f7f7;
  }  

  .btn:hover {
    text-decoration: underline;
  }
  .custom-btn {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .custom-btn:hover {
    color: white;
    background-color: #007bff;
  }
 